{% extends "main.html" %}
{% block title %}Response{% endblock %}
{% block code %}2{% endblock %}
{% block header %}Response{% endblock %}
{% block main %}
<div class="content">
    <p>The visualizations of responses from each layer are listed below. You can upload an image as input, and click each layer tab to expand all response images of that layer.</p>
    <p>(It may be slow because of the low efficiency of Theano functions)</p>
    <form class="pure-form" id="form" enctype="multipart/form-data">
        <fieldset>
            <input id="file" name="file" type="file" accept="image/png,image/jpeg">
            <label for="filename">or paste the filename on the server here：</label>
            <input id="filename_input" type="text" name="file_name">
            <input id="upload_file" type="button" class="pure-button pure-button-primary" value="Confirm">
        </fieldset>
    </form>
    <p>Tag：{{ session['tag'] }} File: {{ session['image'] if session.has_key('image') else "Not Chosen"}}</p>
    {% if session.has_key('image'): %}
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading">Layers</a>
        <ul>
            {% for layer in layers: %}
            <li id="layer{{ layer[0] }}" data-id="{{ layer[0] }}"{{ ' class=ready-layer' if layer[2] else '' }}><a href="#layer{{ layer[0] }}">{{ layer[1] }}</a></li>
            <div class="activation-wrapper" style="width: 100%">
                {% if activations[layer[0]] == 1: %}
                    <img class='big-im' src='{{ "%s%s/1.png" % (path, layer[1]) }}'>
                {% else: %}
                {% for act in range(activations[layer[0]]): %}
                    <img src='{{ "%s%s/%d.png" % (path, layer[1], act + 1) }}'>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<script>
    $("#upload_file").on("click", function() {
        if ($("#file").val() != "") {
            var formData = new FormData($("#form")[0]);
            $.ajax({
                url: "/upload_image",
                type: "POST",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function(result) { if (result.error != 0) { alert("Upload Failed!"); return; } alert("Upload Successful!"); window.location.reload(); }
            });
        }
        else if ($("#filename_input").val() != "") {
            $.ajax({
                url: "/upload_image",
                type: "POST",
                data: { file_name: $("#filename_input").val() },
                success: function(result) { if (result.error != 0) { alert("File not found!"); return; } alert("Filename is confirmed!"); window.location.reload(); }
            });
        }
    });
    $(".content li").on("click", function() {
        if ($(this).hasClass("ready-layer")) { 
            $(this).next().toggle();
            return;
        }
        var $this = $(this);
        $.ajax({
            url: "/compute_activation",
            type: "POST",
            data: { id: $(this).attr("data-id") },
            success: function(result) { 
                if (result.error != 0) { alert("Update Error!"); return; }
                $this.addClass("ready-layer");
                var dom = "";
                if (result.count == 1) dom = "<img class='big-im' src='" + result.path + "1.png" + "'>";
                else {
                    for (var i = 0;i < result.count;i++)
                    {
                        dom += "<img src='" + result.path + (i + 1) + ".png" + "'>\n";
                    }
                }
                $this.next().html(dom);
                $this.next().toggle();
            }
        });
    });
</script>
{% endblock %}
