<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}">
<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
</head>
<body>
<div id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">NeuralSight</a>
        <ul>
            <li><a href="/code">Get Started</a></li>
            <li><a href="/structure">Architecture</a></li>
            <li><a href="/activation">Response</a></li>
            <li><a href="/filter">Kernels</a></li>
        </ul>
    </div>
</div>
<div id="main">
<div class="header">
    <h2>{% block header %}{% endblock %}</h2>
</div>
{% block main%}{% endblock %}
</div>
<script>
$("#menu ul li:eq({% block code %}{% endblock %})").addClass("pure-menu-selected");
</script>
</body>
</html>